body {
    margin: 0px;
    padding: 0px;
    background-image: url(photos/maldives-gdb9782c2b_1280.jpg);
    height: 600px;
}

.header {
    background-color: rgb(23, 23, 134);
    height: 50px;
}

.logo {

    display: inline-block;
    left: 25px;
    margin: 10px;
    padding: 10px;

    width: fit-content;

}

.logo img {
    width: 50px;
    height: 50px;
    float: left;
    border: 5px solid rgb(17, 17, 16);
}

.navbar {

    border: 5px solid rgb(3, 3, 3);
    display: flex;
    height: 25px;
    padding: 10px;
    width: 33%;
    margin: 25px auto;
    border: 2px solid red;

}

.navbar li {
    margin: 10px;

}

.navbar li a {
    margin: 10px;
    height: auto;
    padding: 20px;

}

.navbar li a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.navbar li a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.search_bar {
    border: 5px solid rgb(15, 14, 15);
    display: inline-block;
    position: absolute;
    right: 33px;
    height: 25px;
    width: auto;
    top: 20px;


}

.search_bar input {

    display: inline-block;

    height: 30px;
    width: auto;
    top: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.message {
    width: 600px;
    padding: 100px;
}


.message .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;

}

.message .des {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    color: rgb(22, 22, 22);
    font-weight: bold;
}
.message .des #moresee{
    display: none;
}

.message button {
    padding: 10px 20px;
    border: none;

}


form .container {
    padding: 20px;
    margin: 100px 100px 900px 900px;
    background-color: rgb(211, 75, 75);
    margin-top: 100px;
}

form .container .items {
    padding: 10px;
}

form .container .container_signin {
    color: rgb(23, 27, 218);
}

form .container .container_signin p {
    text-align: center;
    text-decoration: none;
    font-size: 20px;

}

form .container .container_signin p a {
    font-size: 25px;

}

form .container .container_signin p a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;

}

form .container .container_signin p a:visited {
    color: rgb(187, 18, 18);
    background-color: transparent;
    text-decoration: none;

}

form .container .container_signin p a:hover {
    color: rgb(20, 250, 143);
    background-color: transparent;
    text-decoration: none;

}

form .container .container_signin p a:active {
    color: rgb(19, 17, 17);
    background-color: transparent;
    text-decoration: none;


}